# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
.idea
.vscode
.DS_Store
/example/.project
/example/.pydevproject

# kbc datafolder
/data
/venv
/.venv
.planning
tests/functional/*/source/data/out/
tests/functional/*/source/data/in/
vcr_keboola_platform_testing